* {
    box-sizing: border-box;

}

ul:first-child {
    text-transform: uppercase;
    font-weight: bold;
    font-size: smaller;
}


nav {
    background-image: linear-gradient(#987899, #232455);
    display: grid;
}

<<<<<<< HEAD
#nava:hover {
=======
nav #user{
    display: inline-flex;
}

#head_ul a:hover {
>>>>>>> main
    border-radius: 3px;
    background-color: white;

}

nav .menu {
    display: none;
    cursor: pointer;
}
<<<<<<< HEAD
#user{
    display: inline-flex;
}
=======

>>>>>>> main

nav img {
    max-width: 200px;
    box-shadow: 2px 4px 5px #2b252c;
    border-radius: 4px;
}

#inputSearch {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 10px;

}

<<<<<<< HEAD
#inputSearch  > #searchBtn {
    background-color: rgb(136, 96, 81);
=======
#inputSearch > #searchBtn {
    background-color: rgb(230, 211, 204);
>>>>>>> main
    border-radius: 10px;
    padding: 5px;
    height: 40px;
    width: 100px;
<<<<<<< HEAD
=======

>>>>>>> main
}

#inputSearch input .error {
    border: red 2px solid;
}

#inputSearch input {
    width: 20%;
    height: 40px;
    border-radius: 10px;

}

<<<<<<< HEAD
=======

>>>>>>> main
input:placeholder-shown {

    text-align: center;
    font-weight: 500;

}


#productList {
    margin-top: 40px;
<<<<<<< HEAD
    display: grid;
    padding: 20px 20px;
    grid-template-columns: repeat(3, 200px);
    justify-content: center;
    align-items: center;
    gap: 10px 70px;
}


=======
    padding: 0 50px 0px;
    display: grid;
    
    grid-template-columns: repeat(4, 300px);
    justify-content: center;
    align-items: center;
    row-gap: 10px;
    column-gap: 100px;
}

>>>>>>> main
.cardProduct {
    display: flex;
    flex-direction: column;
    align-items: center;
<<<<<<< HEAD
    padding: 20px  ;
=======
    padding: 20px 10px 20px;
>>>>>>> main
    border-radius: 5px;
    box-shadow: 3px 2px 10px rgb(188, 195, 195);
}

.cardProduct:hover {
    box-shadow: 1px 2px 13px rgb(129, 141, 141)
}

.cardProduct .imgContainer {

    height: 50%;

}

.cardProduct .imgContainer img {

<<<<<<< HEAD
    height: 0%;
    max-width: 100%;
=======
    height: 100%;
    width: 100%;
>>>>>>> main
    transform: scale(0.5);
    object-fit: cover;


}



.nameDiv h4 {
<<<<<<< HEAD
    /* margin-top: 20px; */
=======
    
>>>>>>> main
    margin-bottom: 40px;
    font-size: medium;
    text-align: center;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    border-top: #a991b8 2px solid;
    border-bottom: #a991b8 2px solid;
<<<<<<< HEAD
    /* padding: 1px 40px 0px; */
}

#content-left{
    border-right: #81818b 1px solid;

}
#navbarContent{
    border-bottom: #81818b 1px solid;
 
}

#categoryList{

 list-style: none;
display: flex;
justify-content: space-evenly;
}
#categoryList span{
    display: grid;
}
#categoryList a {
    text-decoration: none;
    color: black;
}


#priceMin{
    color: brown;
}
=======
    
}

>>>>>>> main

.cartBt {
    cursor: pointer;
}

.hide {
    display: none;
}

.span {
    display: block;
    color: red;

}

.spanVisible {
    display: block;
    text-align: center;
    color: rgb(15, 8, 21);
    font-size: larger;
    background-color: brown;

}

.slideCartActive {
    background-color: #7612b3;
    max-width: 300px;
    max-height: 500px;
    transition: all 2s;
    position: absolute;
    top: 200px;
    display: flex;
    justify-content: flex-end;

}

.error {
    border: rgb(239, 12, 12) 4px solid;
}

<<<<<<< HEAD
#footerDown {
    background-image: dark;
}
#footerDown img{
    max-width: 100px;
   animation: rotate 4s infinite;
}
@keyframes rotate {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
    
}

#footerDown img {
    transform: rotate(360deg);
}
=======
>>>>>>> main
@media (min-width:400px) and (max-width:720px) {
    #productList {
        display: grid;
        grid-template-columns: repeat(1, 300px);
        row-gap: 20px;
        justify-content: center;
        margin-top: 50px;
    }

    #inputSearch input {
        width: 75%;
    }

<<<<<<< HEAD
    .cardProduct {}

    #user {
        display: none;
    }


=======
>>>>>>> main
    nav .menu {
        padding: 20px;
        display: block;
        position: absolute;
        top: 8%;
        right: 5px;



    }
<<<<<<< HEAD
=======
    nav #user{
        display: none;
    }
>>>>>>> main

    nav .title {
        max-width: 150px;
        position: absolute;
        top: 10%;
    }

    #insideDiv ul {
        position: relative;
        margin-top: 60px;
        display: block;
        text-align: center;
        padding: 10px;


    }

    nav li {
        display: none;

    }

    .shownav {
        display: block;
    }
    #insideDiv ul{
       
        transition-duration: 2s;
        transition: all .5s ease-in-out;
        
     
    }
    #insideDiv :target{
    height:  0px;
    }
}



@media screen and (min-width:721px)and (max-width:996px) {
    #productList {
        display: grid;
        grid-template-columns: repeat(2, 300px);
        row-gap: 20px;
        column-gap: 20px;
        justify-content: center;
        margin-top: 50px;
    }

    #inputSearch input {
        width: 50%;

    }
}

@media screen and (min-width:997px)and (max-width:1200px) {
    #productList {
        display: grid;
        grid-template-columns: repeat(3, 300px);
        row-gap: 20px;
        column-gap: 30px;
        justify-content: center;
        margin-top: 50px;

    }
}

@media screen and (min-width:1201px)and (max-width:1336px) {
    #productList {
        display: grid;
        grid-template-columns: repeat(3, 300px);
        column-gap: 10px;
        justify-content: center;
        margin-top: 50px;

    }
}