* {
    box-sizing: border-box;

}

ul:first-child {
    text-transform: uppercase;
    font-weight: bold;
    font-size: smaller;
}


nav {
    background-image: linear-gradient(#987899, #232455);

    display: grid;
}

nav #user{
    display: inline-flex;
}

#head_ul a:hover {
    border-radius: 3px;
    background-color: white;

}

nav .menu {
    display: none;
    cursor: pointer;
}


nav img {
    max-width: 200px;
    box-shadow: 2px 4px 5px #2b252c;
    border-radius: 4px;
}

#btnTab{
    display: grid;
    gap: 5px;
}
#btnTab > button{
    border-radius: 100px;
}
#contentright{
    
}
